body {
    font-size: 16pt;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header img {

    width: auto;
    height: 200px;
}

h1 {
    font-size: 1.5rem;
    color: white;
    text-align: center; 
    font-family: 'Suez One', serif; 
}

h2 {

    font-size: 1rem;
    border-bottom: 1px solid rgb(110, 109, 109);
    font-family: 'Fanwood Text', serif;
}

header, footer {
    background-color: rgb(196, 38, 38);
    padding: 1.5rem;
    color: white;
    text-align: center;
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
    border-bottom-left-radius: 0.35em;
    border-bottom-right-radius: 0.35em;
}

footer{
    font-family: 'Fanwood Text', serif;
}

.lastupdated {
    color: yellow;
}

a{
    color: rgb(231, 240, 154);
}

ul a{
    color: rgb(63, 80, 53);
}