@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}

	.boxfloat img { 
 
		display:flex;
		float: right;
		margin-left: 30px;
		margin-bottom: 15px;
		border-radius: 0.5em;
		box-shadow: 0 0 50px #333;
		width: 450px;
	}

	.stats {

		position: absolute;
		top: 30px;
		left: 90px;
		background: radial-gradient(#eee, #989b9c);
		border: 1px solid #000;
		padding: 1.5rem;
		box-shadow: 0 0 30px #333;
		opacity: .9;
	
	}
}