@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}

	.boxfloat img {
		width: 450px;
	}

	.stats {
		left: 70px;
	}

	/*CSS FOR THE GALLERY PAGE*/

	.gallerymain {
		max-width: 80%;
		margin: 0 auto;
	}

	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.weatherpic:hover {
		box-shadow: 0 0 50px #333;
	}

	.weatherpic {
		margin: 1rem 1rem;
		border: 1px black solid; 
	}

	/*CSS FOR THE STORM CENTER PAGE*/

	.stormcentermain {
		max-width: 800px;
		margin: 0 auto;
	}

	form label.sbs {
		padding: .4rem 0;
	}

	form input.submitBtn {
		border: none;
		background-color: #36454f;
		color: white;
		border-radius: 1rem;
		padding: .75rem 1.5rem;
		margin: 20px 35px;
		width: 90%;
	}


	/*CSS FOR THE THANK YOU PAGE*/

	.thankyou {

		margin: 2rem auto;
		width: 40%;
		border: 2px black solid;
	}

	/*CSS FOR WIREFRAME PAGE*/

	.wireframemain {
		width: 80%;
		margin: 0 auto;
	}

	.wireframe {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}

	.wireframe img {
		max-width: 100%;
	}

	/*CSS FOR HOME PAGE*/

	div.homepagetowns {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	div.homepagetowns section {
		display: grid;
		grid-template-columns: 1fr;
		
	}

	.homepagetowns section:nth-child(odd) div {
		grid-column: 1;
		
	}
	.homepagetowns section:nth-child(odd) img {
		grid-column: 1;
		grid-row: 2;
	}

	/*CSS FOR SODA SPRINGS*/

	.ssarticles{
		grid-template-columns: 1fr 1fr 1fr;
	}

}